.btn-red {
	text-decoration: none;
	background-color: whitesmoke;
	font-family: Nunito, sans-serif;
	padding: 8px 24px;
	color: orangered;
	border-radius: 6px;
	text-align: left;
	transition: 0,5s;
	margin-left: 70px;
}

.btn-red:hover {
	background-color: orangered;
	color: whitesmoke;
	transition: 0,5s;
	text-align: left;
}